!!!
%html{lang: "en", xmlns: "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{name: "x-apple-disable-message-reformatting"}/
    %title
    /[if mso]
      <noscript>
      <xml>
      <o:OfficeDocumentSettings>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
      </noscript>
    :css
      table, td, div, h1, p {font-family: Arial, sans-serif;}

  %body{style: "margin:0;padding:0;"}
    %h1= "Olá #{@user.email}"

    %table{role: "presentation", style: "width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;"}
      %tr
        %td{align: "center", style: "padding:0;"}
          %table{role: "presentation", style: "width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;"}
            %tr
              %td{align: "center", style: "padding:40px 0 30px 0;background:#70bbd9;"}
                %img{alt: "", src: "https://assets.codepen.io/210284/h1.png", style: "height:auto;display:block;", width: "300"}/
            %tr
              %td{style: "padding:36px 30px 42px 30px;"}
                %table{role: "presentation", style: "width:100%;border-collapse:collapse;border:0;border-spacing:0;"}
                  %tr
                    %td{style: "padding:0 0 36px 0;color:#153643;"}
                      %h1{style: "font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;"} Creating Email Magic
                      %p{style: "margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan et dictum, nisi libero ultricies ipsum, posuere neque at erat.
                      %p{style: "margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
                        %a{href: "http://www.example.com", style: "color:#ee4c50;text-decoration:underline;"} In tempus felis blandit
                  %tr
                    %td{style: "padding:0;"}
                      %table{role: "presentation", style: "width:100%;border-collapse:collapse;border:0;border-spacing:0;"}
                        %tr
                          %td{style: "width:260px;padding:0;vertical-align:top;color:#153643;"}
                            %p{style: "margin:0 0 25px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
                              %img{alt: "", src: "https://assets.codepen.io/210284/left.gif", style: "height:auto;display:block;", width: "260"}/
                            %p{style: "margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"} Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, est nisi libero ultricies ipsum, in posuere mauris neque at erat.
                            %p{style: "margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
                              %a{href: "http://www.example.com", style: "color:#ee4c50;text-decoration:underline;"} Blandit ipsum volutpat sed
                          %td{style: "width:20px;padding:0;font-size:0;line-height:0;"}  
                          %td{style: "width:260px;padding:0;vertical-align:top;color:#153643;"}
                            %p{style: "margin:0 0 25px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
                              %img{alt: "", src: "https://assets.codepen.io/210284/right.gif", style: "height:auto;display:block;", width: "260"}/
                            %p{style: "margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"} Morbi porttitor, eget est accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed.
                            %p{style: "margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}
                              %a{href: "http://www.example.com", style: "color:#ee4c50;text-decoration:underline;"} In tempus felis blandit
            %tr
              %td{style: "padding:30px;background:#ee4c50;"}
                %table{role: "presentation", style: "width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;"}
                  %tr
                    %td{align: "left", style: "padding:0;width:50%;"}
                      %p{style: "margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;"}
                        ® Someone, Somewhere 2021
                        %br/
                        %a{href: "http://www.example.com", style: "color:#ffffff;text-decoration:underline;"} Unsubscribe
                    %td{align: "right", style: "padding:0;width:50%;"}
                      %table{role: "presentation", style: "border-collapse:collapse;border:0;border-spacing:0;"}
                        %tr
                          %td{style: "padding:0 0 0 10px;width:38px;"}
                            %a{href: "http://www.twitter.com/", style: "color:#ffffff;"}
                              %img{alt: "Twitter", src: "https://assets.codepen.io/210284/tw_1.png", style: "height:auto;display:block;border:0;", width: "38"}/
                          %td{style: "padding:0 0 0 10px;width:38px;"}
                            %a{href: "http://www.facebook.com/", style: "color:#ffffff;"}
                              %img{alt: "Facebook", src: "https://assets.codepen.io/210284/fb_1.png", style: "height:auto;display:block;border:0;", width: "38"}/
